<div class="form-component form-component-table" kind="table">
  <input type="hidden" name="components[<%= position %>][<%= component.order %>][table]" value="<%= component.content %>" class="hidden-input">
  <input type="hidden" name="components[<%= position %>][<%= component.order %>][id]" value="<%= component.id %>" class="id-input">
  <div class="form-group">
    <div style='display: inline-block'>
      <label><%= t("content_type.table") %></label>
      <div class="components-buttons">
        <span class="component-button glyphicon glyphicon-remove rm-component-button"></span>
      </div>
    </div>
    <div class="table table-hover table-condensed table-editable">
      <span class="table-title table-field" contenteditable="true">
        <%= @tables[component.order][:title] %>
      </span>
      <span class="table-add glyphicon glyphicon-plus" style="position: static; float: right;"></span>
      <table class="table">
        <tr>
          <th><%= t("components.tables.label") %></th>
          <th><%= t("components.tables.value") %></th>
          <th></th>
          <th></th>
        </tr>
        <% @tables[component.order][:table].each do |line| %>
          <tr>
            <td class="table-field" contenteditable="true"><%= line["label"] %></td>
            <td class="table-field" contenteditable="true"><%= line["value"] %></td>
            <td>
              <span class="table-remove glyphicon glyphicon-remove"></span>
            </td>
            <td>
              <span class="table-up glyphicon glyphicon-arrow-up"></span>
              <span class="table-down glyphicon glyphicon-arrow-down"></span>
            </td>
          </tr>
        <% end %>

        <tr class="hide">
          <td class="table-field" contenteditable="true"><%= t("components.tables.default.label") %></td>
          <td class="table-field" contenteditable="true"><%= t("components.tables.default.value") %></td>
          <td>
            <span class="table-remove glyphicon glyphicon-remove"></span>
          </td>
          <td>
            <span class="table-up glyphicon glyphicon-arrow-up"></span>
            <span class="table-down glyphicon glyphicon-arrow-down"></span>
          </td>
        </tr>
      </table>
      <select>
        <%= table_options @tables[component.order][:type] %>
      </select>
    </div>
  </div>
</div>
